h1 {
  border: 2px white solid;
}

body {
  background-color: black;
  color: blanchedalmond;
}

#graphicCard {
    display: inline-block;
    font-size : 40px;
    background : linear-gradient(cyan, orange);
    border : 1.5px blue solid;
    box-shadow: 1px 1px 2px;
    margin : 5px;
    padding : 10px;
    box-sizing: 10px 8px;
    color: #000;
    height: 380px;
    width: 250px;
}

#graphicHand {
    width: auto;
}