.board-column {
    background-image: linear-gradient(to bottom left, #FCC85F, #F3752B);
    border:2px black solid;
    margin-top:0;
    padding:0;
    border-radius: 8px;
}

.board-row {
    height:100px;
    margin-top:0;
    padding:0;
    position: relative;
    right: 50px;
}

body {
    background-color: #FFE7AD;
}

.board-space {
    border: 2px black solid;
    background-color: #FFE7AD;
    border-radius: 50px;
    margin-top:0;
    padding:0;
    height: 95px;
}

.board-space:hover {
    box-shadow:  1px 1px 2px 2px aquamarine,  -1px -1px 2px 2px aquamarine;
}

.win-indicator {
    background-color: rgba(255, 255, 255, 0.5);
    color: rgba(0,0,0,1);
    border-radius: 10px;
    display: none;
    position: fixed;
    font-size: 144px;
    top:25%;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 5000;
    text-align: center;
}

@media screen and (max-width: 991px) {
    .board-row {
        height: 75px;
    }
    .board-space {
        height: 72px;
    }
}

@media screen and (max-width: 767px) {
    .board-row {
        height: 50px;
        width: 475px;
        flex-wrap: nowrap;
    }
    .board-space {
        height: 48px;
    }
    .win-indicator {

        font-size: 72px;
    }

    .container {
        padding:2.5rem;
    }
}